name: Build image

on:
  push:
    branches: ["main"]
  pull_request:
    branches:
      - "**"
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:
  workflow_call:
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install hugo
        run: |
          # renovate: datasource=github-releases depName=gohugoio/hugo
          HUGO_VERSION=v0.156.0
          HUGO_VERSION_NO_V=${HUGO_VERSION#v}
          wget https://github.com/gohugoio/hugo/releases/download/${HUGO_VERSION}/hugo_${HUGO_VERSION_NO_V}_linux-amd64.deb
          sudo dpkg -i hugo_${HUGO_VERSION_NO_V}_linux-amd64.deb

      - name: Hugo build
        run: hugo

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag martynvandijke/vandijke.xyz:latest

      - name: Push Docker image
        if: github.event_name != 'pull_request' && github.ref != 'refs/heads/main'
        run: |
          docker tag martynvandijke/vandijke.xyz:latest ghcr.io/martynvdijke/vandijke.xyz:latest
          docker push martynvandijke/vandijke.xyz:latest
          docker push ghcr.io/martynvdijke/vandijke.xyz:latest

