name: Build image

on:
  push:
    branches: ["main"]
  pull_request:
    branches:
      - "**"
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:
  workflow_call:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Install hugo
        run: |
          # renovate: datasource=github-releases depName=gohugoio/hugo
          HUGO_VERSION=0.147.5
          wget https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_linux-amd64.deb && \
          sudo dpkg -i hugo_${HUGO_VERSION}_linux-amd64.deb

      - name: Hugo build
        run: hugo

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag martynvandijke/vandijke.xyz:latest

      - name: Push Docker image
        run: docker push martynvandijke/vandijke.xyz:latest

