name: Release

on:
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/ci.yaml
    secrets: inherit

  release:
    needs: ci
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: Release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Semantic Release
        id: semantic-release
        uses: cycjimmy/semantic-release-action@v5
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get version
        id: version
        run: |
          VERSION=$(git describe --tags --abbrev=0 | sed 's/^v//')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Install hugo
        run: |
          # renovate: datasource=github-releases depName=gohugoio/hugo
          HUGO_VERSION=v0.157.0
          HUGO_VERSION_NO_V=${HUGO_VERSION#v}
          wget https://github.com/gohugoio/hugo/releases/download/${HUGO_VERSION}/hugo_${HUGO_VERSION_NO_V}_linux-amd64.deb
          sudo dpkg -i hugo_${HUGO_VERSION_NO_V}_linux-amd64.deb

      - name: Hugo build
        run: hugo

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag martynvandijke/vandijke.xyz:latest

      - name: Push Docker image
        run: |
          docker tag martynvandijke/vandijke.xyz:latest ghcr.io/martynvdijke/vandijke.xyz:latest
          docker push martynvandijke/vandijke.xyz:latest
          docker push ghcr.io/martynvdijke/vandijke.xyz:latest
          echo "Pushing versioned tag: ${{ steps.version.outputs.version }}"
          docker tag martynvandijke/vandijke.xyz:latest martynvandijke/vandijke.xyz:${{ steps.version.outputs.version }}
          docker tag martynvandijke/vandijke.xyz:latest ghcr.io/martynvdijke/vandijke.xyz:${{ steps.version.outputs.version }}
          docker push martynvandijke/vandijke.xyz:${{ steps.version.outputs.version }}
          docker push ghcr.io/martynvdijke/vandijke.xyz:${{ steps.version.outputs.version }}
