name: Release

on:
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/ci.yaml
    secrets: inherit

  release:
    needs: ci
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: Release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Semantic Release
        id: semantic-release
        uses: cycjimmy/semantic-release-action@v5
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install hugo
        run: |
          # renovate: datasource=github-releases depName=gohugoio/hugo
          HUGO_VERSION=0.147.5
          wget https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_linux-amd64.deb && \
          sudo dpkg -i hugo_${HUGO_VERSION}_linux-amd64.deb

      - name: Hugo build
        run: hugo

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag martynvandijke/vandijke.xyz:latest

      - name: Push Docker image
        run: |
          docker push martynvandijke/vandijke.xyz:latest
          echo "Pushing versioned tag: ${{ steps.semantic-release.outputs.version }}"
          docker tag martynvandijke/vandijke.xyz:latest martynvandijke/vandijke.xyz:${{ steps.semantic-release.outputs.version }}
          docker push martynvandijke/vandijke.xyz:${{ steps.semantic-release.outputs.version }}
